@model FrontendAPI.Models.Order

@{
    ViewData["Title"] = "Index";
}


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('#orderForm').submit(function (e) {
                e.preventDefault();

                const order = {
                    orderNumber: $('#OrderNumber').val(),
                    amount: parseFloat($('#Amount').val()),
                    paymentGateway: $('#PaymentGateway').val(),
                    description: $('#Description').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Order/Index',
                    data: JSON.stringify(order),
                    contentType: 'application/json',
                    success: function (receiptHtml) {
                        $('#receiptContainer').html(receiptHtml);
                    },
                    error: function () {
                        alert('Order processing failed.');
                    }
                });
            });
        });
    </script>
}

<div class="container mt-5">
    <h2 class="mb-4">Create Order</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.OrderNumber)
            @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Amount)
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PaymentGateway)
            @Html.TextBoxFor(m => m.PaymentGateway, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Submit Order</button>
    }
</div>

